/* Base styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Headings */
h1 {
  margin-bottom: 20px;
  font-weight: 800;
}